<h2>Team Name: <%=@team.name%></h2>
<h2>Team Motto: <%=@team.motto%></h2>

<%@heroes.each do |hero|%>
<ul>
  <li>
    Hero Name: <%=hero.name%>
  </li>
  
  <li>
    Hero Power: <%=hero.power%>
  </li>
  
  <li>
    Hero Bio: <%=hero.bio%>
  </li>
</ul>
<%end%>